.realisation-carte {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  padding: 1%;
  height: 225px;
  width: 225px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.realisation-img {
  width: 100%;
  padding: 5%;
}

.realisation-carte span {
  text-align: center;
}

@media only screen and (max-width: 599.5px) {
  .realisation-carte {
    width: 100%;
    height: 265px;
  }
}