#projet {
  background-color: #fff4f4;
}
#projet-container {
  margin-top: 12%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}

@media only screen and (max-width: 767.5px) {
  #projet-container {
    margin-top: 24%;
    gap: 30px;
  }
}