#skill {
  background-color: white;
}

#skill-container {
  display: flex;
  margin-top: 12%;
  flex-direction: column;
  gap: 40px;
}

.skill-row {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 767.5px) {
  #skill-container {
    margin-top: 24%;
    gap: 30px;
  }
  .skill-row {
    flex-wrap: wrap;
    gap: 30px;
  }
}